<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>How Do You Like Your Salmon</title>
    <link rel = "stylesheet" href="../css/style.css" />
</head>
<body>
    <header id="showcase">
        <h1>How Do You Like <br>Your Salmon?</h1>
        <a href="#" class="button">Take Quiz</a>
    </header>
    <section id="section-a">
        <p><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempore quis sapiente temporibus asperiores facilis corporis atque inventore, qui vero eaque quae ipsum, beatae cumque, optio maiores animi? Sint, ut.</p>
    </section>
    <section id="section-b">
        <p><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempore quis sapiente temporibus asperiores facilis corporis atque inventore, qui vero eaque quae ipsum, beatae cumque, optio maiores animi? Sint, ut.</p>
    </section>

</body>
</html>

